In [6]:
import  pandas as pd
Dictionary = pd.read_excel(r'E:\论文\数据\WenXinV4.0师姐发的版本\dic\dictionary_all.xlsx')
Dictionary = Dictionary.fillna('0')
Dictionary

      words        D1    D2 D3 D4 D5 D6 D7 D8    Num
0      爱一个人      Love     0  0  0  0  0  0  0      0
1        表白      Love     0  0  0  0  0  0  0      1
2        初恋      Love     0  0  0  0  0  0  0      2
3        单身      Love     0  0  0  0  0  0  0      3
4        对象      Love     0  0  0  0  0  0  0      4
...     ...       ...   ... .. .. .. .. .. ..    ...
12432    早*  Relative  Time  0  0  0  0  0  0  12432
12433    周*  Relative  Time  0  0  0  0  0  0  12433
12434    鬼*  Religion     0  0  0  0  0  0  0  12434
12435    观*       See     0  0  0  0  0  0  0  12435
12436    倏*      Time     0  0  0  0  0  0  0  12436

[12437 rows x 10 columns]

In [7]:
Existence_dimension=pd.read_table(r'E:\论文\数据\三类需求维度说明\Existence维度.txt',encoding='utf-8',header=None,sep=',')
Existence_dimension.iloc[1,1]

' Affect'

## 以下三段是将LIWC词典中的初始种子词按照REG理论分类，点之前先将三类词典中的初始种子词清空，慎点！！

In [24]:
word='Death'
for i in range(len(Dictionary)):
    # print(Dictionary.iloc[i,1])
    if word == str(Dictionary.iloc[i,1]) or word == str(Dictionary.iloc[i,2]) or word == str(Dictionary.iloc[i,3]) or word == str(Dictionary.iloc[i,4]) or word == str(Dictionary.iloc[i,5]) or word==str(Dictionary.iloc[i,6]) or word==str(Dictionary.iloc[i,7]) or word==str(Dictionary.iloc[i,8]):
        # print(Dictionary.iloc[i,0])
        with open(r'Existence_seedwords.txt',encoding='utf-8',mode='a+') as file:
            file.write(str(Dictionary.iloc[i,0]))
            file.write('\n')
        file.close()

In [26]:
Existernce = pd.read_csv(r'Existence_seedwords.txt',encoding='utf-8',header=None)
Existernce.drop_duplicates(subset=0,inplace=True,keep='first')
Existernce

        0
0      母爱
1      父爱
2      胎儿
3     一家人
4      姐夫
...   ...
8115   死亡
8116   意外
8117   殡*
8118   棺*
8119   尸*

[7498 rows x 1 columns]

In [130]:
word='1'
for i in range(len(Dictionary)):
    # print(Dictionary.iloc[i,1])
    if word == str(Dictionary.iloc[i,1]) or word == str(Dictionary.iloc[i,2]) or word == str(Dictionary.iloc[i,3]) or word == str(Dictionary.iloc[i,4]) or word == str(Dictionary.iloc[i,5]) or word==str(Dictionary.iloc[i,6]) or word==str(Dictionary.iloc[i,7]) or word==str(Dictionary.iloc[i,8]):
        # print(Dictionary.iloc[i,0])
        with open(r'Growth_seedwords.txt',encoding='utf-8',mode='a+') as file:
            file.write(str(Dictionary.iloc[i,0]))
            file.write('\n')

In [27]:
Growth = pd.read_csv(r'Growth_seedwords.txt',encoding='utf-8',header=None)
Growth.drop_duplicates(subset=0,inplace=True,keep='first')
Growth

       0
0     小弟
1      俺
2     敝人
3      我
4      吾
...   ..
3933  明天
3934  日后
3935  往后
3936  未来
3937  以后

[3349 rows x 1 columns]

In [135]:
word='1`'
for i in range(len(Dictionary)):
    # print(Dictionary.iloc[i,1])
    if word == str(Dictionary.iloc[i,1]) or word == str(Dictionary.iloc[i,2]) or word == str(Dictionary.iloc[i,3]) or word == str(Dictionary.iloc[i,4]) or word == str(Dictionary.iloc[i,5]) or word==str(Dictionary.iloc[i,6]) or word==str(Dictionary.iloc[i,7]) or word==str(Dictionary.iloc[i,8]):
        # print(Dictionary.iloc[i,0])
        with open(r'Relatedness_seedwords.txt',encoding='utf-8',mode='a+') as file:
            file.write(str(Dictionary.iloc[i,0]))
            file.write('\n')

In [28]:
Relatedness = pd.read_csv(r'Relatedness_seedwords.txt',encoding='utf-8',header=None)
Relatedness.drop_duplicates(subset=0,inplace=True,keep='first')
Relatedness

         0
0     舌战群儒
1       母爱
2       陪伴
3       强盗
4       小子
...    ...
1980    目*
1981    视*
1982    艳*
1983    吐*
1984    吞*

[1882 rows x 1 columns]